
#sidebar {
  overflow: auto;
  height: 100%;

  #header #logo {
    text-align: center;
    img {
      display: block;
      width: 60%;
      margin-left: 20%;
    }
  }

  .highlightable {
    overflow: hidden;
    height: unset;
  }

  #footer {
    padding: 1rem 1rem 0;
  }

}

video, audio {
    width: 100%;
}
