
$font-family-default:           "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-header:            "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-mono:              monospace;
$font-family-serif:             "Georgia", "Times", "Times New Roman", serif;
